<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>5e Monster Creator</title>
    <link href="/static/css/statblock5e.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class="title">5e Monster Creator</h1>
  <p>Some example nonsense I guess? Eventually this is gonna be really cool</p>
  <div class="stat-block">
    <div class="bar"></div>
    <div class="content-wrap">
      <div class="creature-heading">
        <h1>Animated Armor</h1>
        <h2>Medium construct, unaligned</h2>
      </div>
      <div class="top-stats">
        <div class="tapered-rule">
          <svg height="5" width="400">
              <polyline points="0,0 400,2.5 0,5"></polyline>
          </svg>
        </div>
        <div class="property-line">
          <h4>Armor Class</h4>
          <p>18 (natural armor)</p>
        </div>
        <div class="property-line">
          <h4>Hit Points</h4>
          <p>33 (6d8 + 6)</p>
        </div>
        <div class="property-line">
          <h4>Speed</h4>
          <p>25ft</p>
        </div>
        <div class="tapered-rule">
          <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5"></polyline>
          </svg>
        </div>
        <div class="abilities-block">
          <table>
              <tbody><tr>
                <th>STR</th>
                <th>DEX</th>
                <th>CON</th>
                <th>INT</th>
                <th>WIS</th>
                <th>CHA</th>
              </tr>
              <tr>
                <td id="str">14 (+2)</td>
                <td id="dex">11 (+0)</td>
                <td id="con">13 (+1)</td>
                <td id="int">1 (–5)</td>
                <td id="wis">3 (–4)</td>
                <td id="cha">1 (–5)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tapered-rule">
          <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5"></polyline>
          </svg>
        </div>
        <div class="property-line">
            <h4>Damage Immunities</h4>
            <p>poison, psychic</p>
        </div>
        <div class="property-line">
          <h4>Condition Immunities</h4>
          <p>blinded, charmed, deafened, exhaustion, frightened,
              petrified, poisoned</p>
        </div> 
        <div class="property-line">
          <h4>Senses</h4>
          <p>blindsight 60ft. (blind beyond this radius), passive Perception 6</p>
        </div>
        <div class="property-line">
          <h4>Languages</h4>
          <p>&mdash;</p>
        </div>
        <div class="property-line">
          <h4>Challenge</h4>
          <p>1 (200 XP)</p>
        </div>
        <div class="tapered-rule">
          <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5"></polyline>
          </svg>
        </div>
      </div>
      <div class="property-block">
          <h4>Antimagic Suceptibility.</h4>
          <p>The armor is incapacitated while in the area of an <i>antimagic
              field</i>.  If targeted by <i>dispel magic</i>, the armor must succeed
              on a Constitution saving throw against the caster’s spell save DC or
              fall unconscious for 1 minute.</p>
        </div>
        <div class="property-block">
          <h4>False Appearance.</h4>
          <p>While the armor remains motionless, it is indistinguishable from a
              normal suit of armor.</p>
        </div>
    </div>
    <div class="bar"></div>
  </body>
</html>