.stat-block {
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.stat-block .bar {
  height: 5px;
  background: #E69A28;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
}

.stat-block .content-wrap {
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
                sans-serif;
  font-size: 13.5px;
  background: #FDF1DC;
  padding: 0.6em;
  padding-bottom: 0.5em;
  border: 1px #DDD solid;
  box-shadow: 0 0 1.5em #867453;

  /* We don't want the box-shadow in front of the bar divs. */
  position: relative;
  z-index: 0;

  /* Leaving room for the two bars to protrude outwards */
  margin-left: 2px;
  margin-right: 2px;

  /* This is possibly overriden by next CSS rule. */
  width: 400px;

  -webkit-columns: 400px;
      -moz-columns: 400px;
          columns: 400px;
  -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
          column-gap: 40px;

  /* We can't use CSS3 attr() here because no browser currently supports it,
      but we can use a CSS custom property instead. */
  height: var(--data-content-height);

  /* When height is constrained, we want sequential filling of columns. */
  -webkit-column-fill: auto;
      -moz-column-fill: auto;
          column-fill: auto;
}

.stat-block h3 {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 0.3em;

  break-inside: avoid-column;
  break-after: avoid-column;
}

/* For user-level p elems. */
.stat-block p {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  line-height: 1.5;
}

/* Last child shouldn't have bottom margin, too much white space. */
.stat-block > :last-child {
  margin-bottom: 0;
}

.stat-block .creature-heading h1 {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #7A200D;
  font-weight: 700;
  margin: 0px;
  font-size: 23px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.stat-block .creature-heading h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

.stat-block .top-stats * {
  color: #7A200D;
}

.stat-block .tapered-rule svg {
  fill: #922610;
  stroke: #922610;
  margin-top: 0.6em;
  margin-bottom: 0.35em;
}

.stat-block .property-line {
  line-height: 1.4;
  display: block;
  text-indent: -1em;
  padding-left: 1em;
}

.stat-block .property-line h4 {
  margin: 0;
  display: inline;
  font-weight: bold;
}

.stat-block .property-line p {
  text-indent: 1em;
  margin: 0;
}

.stat-block .property-line p:first-of-type {
  display: inline;
  text-indent: 0;
}

.stat-block .abilities-block table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}

.stat-block .abilities-block th, .stat-block .abilities-block td {
  width: 50px;
  text-align: center;
}

.stat-block .property-block {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  line-height: 1.5;
  display: block;
}

.stat-block .property-block h4 {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-style: italic;
}

.stat-block .property-block p {
  text-indent: 1em;
  margin: 0;
}

.stat-block .property-block p:first-of-type {
  display:inline;
  text-indent: 0;
}

.stat-block.wide .content-wrap {
  /* One column is 400px and the gap between them is 40px. */
  width: 840px;
}